.main-container{
   width:100%; 
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   justify-content: center;
   padding: 0;
   margin: 0;
   height: 100vh;
}
.containeroflogin{
    display: flex;
    flex-direction: row;
    padding:10px;
    width:100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.sub-containerr{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #4d4d4d;
    height: 100vh;
    padding: 20px;
    width:92%;
}


.sub-containerr h1{
    color: white;
}

.login-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    height: 100vh;
    padding: 20px;
    width: 92%;
}

h2 {
    text-align: center; /* Center the title */
    margin-bottom: 20px; /* Space below the title */
    color: white;
}

.form-groups {
    margin-bottom: 15px;
    width: 50px; /* Use full width of the container */
}

label {
    display: block;
    width: 100%; /* Full width of the form group */
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 600px; /* Maintain 80% width for inputs */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle inner shadow */
}

.error {
    color: red; /* Red color for error messages */
    font-size: 0.9em; /* Slightly smaller font */
    margin-top: 5px; /* Space above error messages */
}

.submit-button {
    width: 20%; 
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 15px;
    font-weight: bold;

    /* Align the button to the left */
    display: block; /* Make it a block element */
    margin-left: 0; /* Align to the left */
    margin-right: auto; /* Remove right margin */
}

.submit-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.signup-redirect {
    text-align: center; /* Center the redirect message */
    margin-top: 15px; /* Space above */
}
@media(max-width:768px){
    .containeroflogin{
      flex-direction: column;
    }
    .form-group input{
       width: 300px;
    }
    .submit-button{
        width:40%;
    }
    .login-container{
        width:98%;
    }
    .form-groups input {
        width: 380px;
    } 
    .sub-containerr{
        margin-top: 0;
    }
}
